.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    max-width: 800px;
  }
  
  img {
    max-width: 300px;
    border-radius: 10px;
  }
  
  .additional {
    
    width: 100%;
    text-align: center;
   border-top: 5px solid gray;;
    padding-top: 10px;
    list-style: none; 
    padding: 0;
  }
  
  
  .additional li {
    margin-bottom: 10px;
  }
  
  .additional a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
  }
  
  .additional a:hover {
    text-decoration: underline;
  }
  .wrapperAdditional {
    width: 100%;
  }

  
  
  
    