

.container {
    padding: 20px;
    background-color: #fff;
    text-align: left;
}
 


.title {
    margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  color: black;  
}

.listFilm {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    
    li {
      font-size: 18px;
      font-weight: 600;
      
    }   
}
